<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="userService1" class="com.csy.discuss.core.bean.UserService1Impl"/>
    <bean id="userService2" class="com.csy.discuss.core.bean.UserService2Impl"/>
    <bean id="testService" class="com.csy.discuss.core.bean.TestServiceImpl">
        <!--<property name="userService1" ref="userService1"/>-->
        <property name="a" value="2"/>
    </bean>

</beans>